@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-handwriting: "Caveat", cursive;

  --color-brand-bg: #FAF8F5;
  --color-brand-pink: #FDF3F3;
  --color-brand-pink-dark: #E8CACA;
  --color-brand-text: #3A3532;
  --color-brand-accent: #C29B8E;
  --color-brand-accent-hover: #A88275;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
}
